---
---
<div class="fixed top-0 left-0 right-0 h-0.5 z-[200] bg-white/5">
  <div
    id="progress-bar"
    class="h-full w-full bg-accent origin-left"
    style="transform:scaleX(0); box-shadow:0 0 12px rgb(var(--acc-rgb) / 0.7);"
  ></div>
</div>

<div
  id="cursor-ring"
  class="fixed top-0 left-0 pointer-events-none z-[9999] opacity-0 will-change-transform rounded-full"
  style="width:32px; height:32px; border:1.5px solid rgb(var(--acc-rgb) / 0.5);"
></div>
<div
  id="cursor-dot"
  class="fixed top-0 left-0 pointer-events-none z-[9999] opacity-0 will-change-transform rounded-full bg-accent"
  style="width:6px; height:6px;"
></div>
